[submodule "incs/libft"]
	path = incs/libft
	url = git@github.com:Univers42/libft.git
[submodule "mandatory/incs/libft"]
	path = mandatory/incs/libft
	url = git@github.com:Univers42/libft.git
[submodule "bonus/vendor/libft"]
	path = bonus/vendor/libft
	url = git@github.com:Univers42/libft.git
